.first{
    background: black;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 45%;
    vertical-align: middle;
    position:fixed;
}
body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to top left, rgba(34, 51, 126, 0), rgb(4, 34, 74));
}

.logos{
    height: 30px;
    width: 30px;
}
.logo{
    height: 50px;
    width: 50px;
}
.second{
    display: flex;
    gap: 35%;
    align-items: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    align-content: flex-end;
    justify-content: flex-start;
    

    
}
.tags{
    text-decoration: none;
    color: aliceblue;

}
.third{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    gap: 45%;
}

.abc img{
    height: 550px;
    width: 450px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius:  45% 45% 0px 0px;
}
.abc{
    height: 100%;
    width: 50%;
    display: flex;
    
    padding:20px;
    margin: 0px;
}

.main{
    height: 100vh;
    width:100vw ;
    overflow: hidden;
}